<h1 align=center><font size = 5>
Week 3 Assignment of Applied Data Science Capstone
</font></h1>

<h1 align=center><font size = 5>Task 2: Add the latitude and longitude coordinates to the dataframe</font></h1>

In [1]:
import pandas as pd

Let's read our csv file we created at the end of the last notebook

In [2]:
df = pd.read_csv('first_task')

In [3]:
df.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7        M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8        M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

we will use the Geocoder Python package : https://geocoder.readthedocs.io/index.html.we  in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [4]:
!pip install geocoder
import geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 304 kB/s eta 0:00:01
Requirement already satisfied: click in /home/moh/anaconda3/envs/moh/lib/python3.8/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: six in /home/moh/anaconda3/envs/moh/lib/python3.8/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: requests in /home/moh/anaconda3/envs/moh/lib/python3.8/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: future in /home/moh/anaconda3/envs/moh/lib/python3.8/site-packages (from geocoder) (0.18.2)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/moh/anaconda3/envs/moh/lib/python3.8/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /home/moh/anaconda3/envs/moh/lib/python3.8/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/moh/anaconda3/envs/moh/lib/python3.8/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /home/moh/anaconda3/envs/moh/lib/python3.8/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: decorator in /home/moh/anaconda3/envs/moh/lib/python3.8/site-packages (from ratelim->geocoder) (4.4.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

### Use Arcgis to get the coordinates

In [12]:
def get_lalo(postal_code):
    
    la_lo_coords = None
    
    while(la_lo_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        la_lo_coords = g.latlng
    return la_lo_coords
    
get_lalo('M4G')

[43.709020000000066, -79.36348999999996]

Let's retrieve postal code coordinates

In [13]:
postal_codes = df['PostalCode']    
coordinates = [ get_lalo(postal_code) for postal_code in postal_codes.tolist() ]

make new columns for Latitude and Longitude

In [14]:
df_coordinates = pd.DataFrame(coordinates, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coordinates['Latitude']
df['Longitude'] = df_coordinates['Longitude']

In [16]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.81139,-79.19662
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.78574,-79.15875
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.76575,-79.17470
3,M1G,Scarborough,Woburn,43.76812,-79.21761
4,M1H,Scarborough,Cedarbrae,43.76944,-79.23892

In [17]:
df[df.PostalCode == 'M5G']

   PostalCode           Borough        Neighborhood  Latitude  Longitude
57        M5G  Downtown Toronto  Central Bay Street  43.65609  -79.38493

Save new dataset to CSV file

In [18]:
df.to_csv('2nd_task.csv', index=False)

In [19]:
df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.81139,-79.19662
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.78574,-79.15875
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.76575,-79.17470
3,M1G,Scarborough,Woburn,43.76812,-79.21761
4,M1H,Scarborough,Cedarbrae,43.76944,-79.23892
...,...,...,...,...,...
98,M9N,York,Weston,43.70507,-79.51804
99,M9P,Etobicoke,Westmount,43.69630,-79.52926
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.68681,-79.55728
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.74453,-79.58624
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.71174,-79.57941